<launch>

  <!-- Argument to use a camera stream [camera], or bag file [bag] -->
  <arg name="input" default="camera"/>
  <arg name="video_device" default="/dev/video0"/>
  <arg name="bag_file_path" default="example.bag"/>
  <arg name="bag_image_topic" default="/image_raw"/>
  <arg name="bag_camera_info_topic" default="/camera_info"/>
  <arg name="bag_rate" default="1.0"/>
  <arg name="bag_start_time" default="0.0"/>

  <!-- Video Stream -->
  <include file="$(find lane_line_detection)/launch/$(arg input).launch" >
    <arg name="video_device" value="$(arg video_device)"/>
    <arg name="bag_file_path" value="$(arg bag_file_path)"/>
    <arg name="bag_image_topic" value="$(arg bag_image_topic)"/>
    <arg name="bag_camera_info_topic" value="$(arg bag_camera_info_topic)"/>
    <arg name="bag_rate" value="$(arg bag_rate)"/>
    <arg name="bag_start_time" value="$(arg bag_start_time)"/>
  </include>

  <!-- Create Static TF for map to camera -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map2base_link" args="0 0 0 0 0 0 1 map base_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link2camera" args="0 0 0 0 0 0 1 base_link camera" />

  <!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lane_line_detection)/cfg/lane_detection.rviz" />

  <!-- Lane Line Detection -->
  <include file="$(find lane_line_detection)/launch/lane_line_detection.launch" />

</launch>